* {
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
   
  }
  img {
    position: relative;
    right: 10px;
    display: block;
    width: 200px;
    float: left;
    height: 160px;
    border: 4px solid pink
  }
  #image-container {
    padding-left: 200px;
    border: 2px solid black;
    width: 1000px;
    margin: 0 auto;
    height: 175px;
  }
  #leftImg,
  #middleImg,
  #rightImg {
    width: 200px;
    margin: 10px;
    border-radius: 30px;
  }
  span {
    margin-left: 50px;
  }
  #attempts {
    margin-left: 20px;
    font-size: 30px;
  }
